.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 65px;
    width: 75%;
    margin: 1vh auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    border-radius: 15px;
    border: none;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);padding: 10px;
}
@media screen and (max-width: 750px){
    .footer{
        display: none;
    }
}
.footer__right * .MuiSlider-root {
    color: grey;
}
.footer__left {
    flex:0.3;
    display: flex;
    align-items: center;
    color: grey;
    max-width: 300px;
}
.footer__middle {
    flex:0.4;
    padding: 0 100px;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}
.footer__right {
    flex:0.3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    max-width: 200px;
    padding-right: 20px;

}
.footer__songInfo{
    margin: auto;
}
.footer__albumLogo {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    margin-left: 20px;
    object-fit: contain;
}
.footer__songFavorite_false{
    margin-left: 20px;
    color: #6E45E1;
}

.footer__songFavorite_true{
    margin-left: 20px;
    color: red;
}

.footer__green_false {
    color: grey;
}
.footer__green_true {
    color: #6E45E1;
    transform: scale(1.2)
}

.footer__green_false:hover, .footer__icon:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
    color: #6E45E1;
}

.footer__songInfo > h4 {
    margin-bottom: 5px;
}

.footer__songInfo > p {
    font-size: 12px;
}