.player{
    min-width: 500px;
    overflow-y: overlay;
}
.mobile_sideBar{
    display: none;
}

.player__body {
    display: flex;
}
@media screen and (max-width: 750px){
    .player{
        width: 100%;
    }
    .mobile_sideBar{
        display: flex;
    }
    .sidebar{
        display: none;
    }
}
