.sidebar {
    padding-top: 10px;
    height: 100vh;
    flex: 0.2;
    min-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #89d4cf;
    background-image: linear-gradient(315deg, #232526 0%, #414345 74%);
    color: white;
    align-items: center;
}

.sidebar__logo {
    object-fit: contain;
    height: 50px;
    padding: 10px;
}

.sidebar__title {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}
