.sidebar {
    padding: 50px 10px;
    flex: 0.1;
    min-width: 200px;
    max-width: 300px;
    background-color: #89d4cf;
    background-image: linear-gradient(315deg, #232526 0%, #414345 74%);
    color: white;
    align-items: center;
}
@media screen and (max-width: 750px){
    .sidebar{
        display: none;
    }
}
.sidebar__logo {
    object-fit: contain;
    height: 50px;
    padding: 10px;
}

.sidebar__title {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}
